doctype html
// views/login.pug
html
	head
		title Sonal Raval Design Studio
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		script(src="https://use.fontawesome.com/870d8fb91b.js")
		link(rel="stylesheet" , href="https://fonts.googleapis.com/css?family=Six+Caps|Titillium+Web")
		link(rel="stylesheet" , href="fonts/lie_to_me.otf")
		link(rel='stylesheet', href='css/style.css' type ='text/css')
		
	body
		.content
			.content-left
				.sidebar-right
					.logo
						h1#brand-name Sonal Raval
						h3#tagline Pret . Bespoke . Couture 
						img#bowtie(src='img/bowtie.png')
						img#mannequin(src='img/mannequin.png')
					p#address
							|Sonal Raval Designs, Siddhivinayak
							br 
							Pratap Rao Gujar Road, Neelam Nagar Phase 1,
							br
							|Mulund East, Mumbai, India 400081
					p#email email: 
						a(href='mailto:raval.sonal@gmail.com') raval.sonal@gmail.com 
					p#phone Phone: +91 9833975307	
					.social
						i.fa.fa-facebook-official(aria-hidden="true")
						i.fa.fa-google(aria-hidden="true")
						i.fa.fa-instagram(aria-hidden="true")
					//i#downarrow.fa.fa-chevron-down(aria-hidden="true")
			.content-right.container-fluid
				.jumbotron
					
			
			
