

  $color-teal: #04373e;
  $color-beige: #e5d8a0;
  $blush-pink: #E89E6C;



/*******************************************************
*Set up and configuration and imports
********************************************************/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'LieToMe';
  src: url('/fonts/lie_to_me.otf');
}

@font-face {
  font-family: 'AliensCows';
  src: url('/fonts/aliens_cows.ttf');
}

body {}


/*******************************************************
Overriding the theme file
********************************************************/

.appContainer {
  width: 100%;
  left: 0%;
}

#subscribe-form {
  text-align: center;
}


/*******************************************************
Adding Elements outside of the theme styling
********************************************************/
.temp-group{}

.content-left {
  width: 30%;
  margin: 30px auto;
  text-align: center;
}

.content-right {
  width: 70%;
  height: 100%;
  background-color: #121212;
}

.logo {
  margin-top: 0px;
  cursor: pointer;
}

h1#brand-name  {
  padding: 5px;
  color: $color-beige;
  font-size: 2em;
  font-family: 'LieToMe', cursive;
}

h3#tagline {
  margin-top: 15px;
  font-family: 'AliensCows', sans-serif;
  font-size: 1.2em;
}

.businesscard .details * {
  line-height: 1;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
}

img#bowtie {
  display: block;
  height: 30px;
  margin: 30px auto;
}

img#mannequin {
  display: block;
  height: 250px;
  margin: auto;
}

#address {
  color: $color-beige;
  margin-top: 20px;
  line-height: 1.6;
}

#email a {
  color: #E89E6C;
}

.social {



  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav {
  margin: auto;
  padding-bottom: 10px;
  color: #E89E6C;
  background: #04373e;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;


  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.top-nav ul li{
  font-size: 2em;
  font-family: 'Six Caps';
  cursor: pointer;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color:$color-beige;
background: none;
}

.navbar-inverse .navbar-toggle{
border: none;
}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
  color: $color-beige;
}

.top-nav ul li a span{
  margin-right: 10px;
}
.right{
  float: right;
}


/***********************************
    Reset Styles
  ************************************/


/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */


/*
  Beige Text: e5d8a0
  Dark Green:



  */
